# Implemented and useful but not used in production, moved to requirements-dev.txt
google-cloud-storage==3.6.0 # used for gcs buckets
cloud-sql-python-connector[asyncpg]==1.18.5 # used for google cloud sql only