name: Run Unit & Functional Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches: ["**"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Install PostgreSQL binaries
        run: sudo apt-get update && sudo apt-get install -y postgresql
      - name: Install uv
        uses: astral-sh/setup-uv@v3
      - name: Install dependencies
        run: uv sync
      - name: Run tests (tests/api/*)
        env:
          CONFIG_YAML_PATH: tests/config/config.yaml
          S3_FILE_STORAGE_TEST_CONFIG: ${{ secrets.S3_FILE_STORAGE_TEST_CONFIG }}
        run: uv run pytest tests/api/
